<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<head>
	<meta charset="UTF-8">
	<title>Chat with GPT-3</title>
</head>
<script>

function GuessHuman() {
  $.ajax({
			  url: "/GuessHuman",
			  type: "POST"
		  }).done;
};
function GuessMachine() {
  $.ajax({
			  url: "/GuessMachine",
			  type: "POST"
		  }).done;
};

</script>
<body>
	<p>
		 Were you talking to a human or a machine?
		<button id="human" onclick="GuessHuman()">Human</button>  <button id="machine" onclick="GuessMachine()">Machine</button>
	</p>
	<div class="show-data" >
	</div>
</body>
</html>